# Fake data generation

In [1]:
from faker import Faker
import numpy as np
import pandas as pd
import random

In [2]:
# Set random seed
seed = 666

random.seed(seed)
faker = Faker(seed=seed)
np.random.seed(seed)

In [3]:
languages = ['english', 'italian', 'french', 'spanish', 'deutsche', 'dutch', 'bulgarian', 'chinese']

In [4]:
keywords = [
    'archeology',
    'museums',
    'music',
    'art',
    'cinema',
    'countryside',
    'tracking',
    'rafting',
    'history',
    'literature',
    'sport',
    'food',
    'wine',
    'beer'
]

In [5]:
education = ['middle-school', 'high-school', 'bachelor', 'master', 'phd']

In [6]:
# guide profile generation
def generate_guide():
    guide = {}
    guide['gender'] = np.random.choice(['male', 'female'], size=1).item()
    guide['name'] = (faker.first_name_male() if guide['gender'] == 'male' else faker.first_name_female()) + ' ' + faker.last_name()
    guide['birth_date'] = faker.date_of_birth(maximum_age=65, minimum_age=20)
    guide['now_available'] = True
    guide['languages_spoken'] = list(np.random.choice(languages, size=1+np.random.poisson(lam=1, size=1).item(), replace=False))
    guide['price'] = int(max(10, np.abs(np.random.normal(30, 5))))
    guide['education'] = np.random.choice(education, size=1).item()
    guide['biography'] = faker.profile()['job']
    guide['keywords'] = list(np.random.choice(keywords, size=np.random.poisson(2, size=1).item(), replace=False))
    guide['current_location'] = {
        "lat": np.random.normal(40.3524, 0.01),
        "lon": np.random.normal(18.1732, 0.01)
    }
    guide['experience'] = random.randint(1,2024-guide['birth_date'].year-18)
    
    return guide

In [7]:
# user profile generation
def generate_tourist():

    tourist = {}

    tourist['languages'] = list(np.random.choice(languages, size=1, replace=False))
    tourist['keywords'] = list(np.random.choice(keywords, size=np.random.poisson(2, size=1).item(), replace=False))
    
    return tourist

In [8]:
import random 

# rating generation
def generate_rating (tourists, guides):
    ratings = []
    for i in range(len(tourists)):
        
        # random choose guides from intersection of languages
        intersect_guides = [index for index in range(len(guides)) if np.all(np.in1d(tourists[i]['languages'], guides[index]['languages_spoken']))]
        other_guides = [index for index in range(len(guides)) if index not in intersect_guides]
        
        # random choose 3 guides without duplicates
        random_guides = np.random.choice(intersect_guides,2, replace=False)
        random_guide = np.random.choice(other_guides,1)
        
        # random choose 1 or 2 guides to rate
        for j in range(np.random.randint(1,3)):

            rating = round(np.random.normal(loc=4, scale=0.5, size=1).item(),0)
            ratings.append((i,random_guides[j],rating))

#         # random choose if rate badly
# #        if(np.random.binomial(1, 0.2)):
#             bad_rating = round(np.random.normal(loc=1.5, scale=0.3, size=1).item(),0)
#             # rate the last guide with bad rating
#             ratings.append((i,random_guide[0],bad_rating))
#
    return ratings

#### Data generation

In [9]:
n_tourists = 200
n_guides = 40

In [10]:
guides = [generate_guide() for _ in range(n_guides)]
tourists = [generate_tourist() for _ in range(n_tourists)]

In [11]:
ratings = generate_rating(tourists,guides)

Dataframes

In [12]:
guide_df = pd.DataFrame(guides)
guide_df

,gender,name,birth_date,now_available,languages_spoken,price,education,biography,keywords,current_location,experience
0,male,Jeffrey Carroll,1960-10-18,True,[english],25,high-school,Sports coach,[museums],"{'lat': 40.342693584880706, 'lon': 18.16438078...",30
1,female,Regina Thomas,1989-11-21,True,"[italian, dutch]",36,middle-school,Stage manager,"[cinema, rafting, history, wine]","{'lat': 40.3367551413547, 'lon': 18.1569120995...",13
2,female,Brianna Nicholson,1962-05-03,True,"[chinese, french, english]",34,phd,"Psychotherapist, dance movement","[food, archeology, art]","{'lat': 40.362447049660204, 'lon': 18.14225129...",28
3,male,Jordan Ali,1992-10-15,True,[bulgarian],46,bachelor,"Scientist, clinical (histocompatibility and im...","[countryside, rafting, art]","{'lat': 40.36584086550253, 'lon': 18.183002910...",5
4,male,Steven Taylor,1985-01-25,True,"[deutsche, french]",30,master,Trading standards officer,"[countryside, tracking, beer]","{'lat': 40.354724889812935, 'lon': 18.20308322...",17
5,male,Ronald Mitchell,1959-06-15,True,"[deutsche, dutch, bulgarian]",27,middle-school,"Teacher, secondary school",[],"{'lat': 40.35854623058413, 'lon': 18.183459879...",1
6,male,John Lloyd,1983-04-08,True,"[english, chinese, french]",34,middle-school,"Engineer, electrical","[rafting, art, sport]","{'lat': 40.35774331848761, 'lon': 18.163273185...",18
7,male,Jason Hartman,1971-12-09,True,"[spanish, dutch, french, italian]",33,bachelor,Fish farm manager,"[museums, art, countryside, wine]","{'lat': 40.365193043282794, 'lon': 18.18548169...",22
8,male,Cody Stevens,1992-11-27,True,"[bulgarian, english, chinese]",31,middle-school,"Therapist, art","[literature, cinema, music]","{'lat': 40.35265552781134, 'lon': 18.151723396...",2
9,male,Daniel Carey,1988-09-18,True,"[chinese, bulgarian, dutch, english]",37,phd,Fish farm manager,[museums],"{'lat': 40.33774657696426, 'lon': 18.182064664...",2
10,female,Ellen Benjamin,1973-02-24,True,"[bulgarian, deutsche]",23,high-school,Corporate treasurer,"[cinema, rafting, sport, museums, countryside]","{'lat': 40.36612881009787, 'lon': 18.182042843...",10
11,female,Monica Webb,1988-07-30,True,[bulgarian],23,phd,"Designer, blown glass/stained glass","[cinema, beer, rafting]","{'lat': 40.367394960036485, 'lon': 18.17553586...",13
12,female,Monica Cruz,2003-10-13,True,"[dutch, french, italian]",19,bachelor,Advertising account planner,"[sport, music, beer]","{'lat': 40.34268462008425, 'lon': 18.187542175...",3
13,female,Vanessa Wallace,1995-02-13,True,"[chinese, english]",27,master,Warden/ranger,"[sport, archeology, beer]","{'lat': 40.35377358678542, 'lon': 18.174728239...",8
14,male,Bobby Galloway,1968-03-16,True,"[chinese, french]",40,middle-school,"Accountant, chartered public finance",[museums],"{'lat': 40.353069674191346, 'lon': 18.17755576...",38
15,male,Russell Patterson,1971-04-08,True,"[deutsche, chinese]",31,middle-school,Chief Operating Officer,"[music, food, tracking, archeology]","{'lat': 40.35272705494921, 'lon': 18.165705019...",16
16,male,Kenneth Santos,2000-10-26,True,"[spanish, bulgarian, french]",32,middle-school,Actuary,"[countryside, music, beer]","{'lat': 40.32347428820915, 'lon': 18.164571467...",1
17,male,Jonathan Taylor,2002-04-20,True,[dutch],26,master,Magazine journalist,"[wine, sport, art]","{'lat': 40.36624424923941, 'lon': 18.174443383...",1
18,male,Frank Bond,1977-09-12,True,"[italian, dutch]",24,bachelor,Land,[food],"{'lat': 40.362871505646005, 'lon': 18.18292777...",9
19,female,Angel Whitney,1997-09-17,True,"[bulgarian, deutsche, english]",35,middle-school,Probation officer,[],"{'lat': 40.339915788807765, 'lon': 18.18379781...",2
20,female,Theresa Brown,2002-02-03,True,"[deutsche, french]",43,master,"Accountant, chartered certified","[rafting, museums, food]","{'lat': 40.357612936236265, 'lon': 18.16907898...",3
21,male,Anthony Hensley,1970-03-21,True,[chinese],26,high-school,"Surveyor, quantity",[cinema],"{'lat': 40.342846292499104, 'lon': 18.16089760...",10
22,female,Denise Carroll,1968-04-20,True,"[chinese, spanish]",25,high-school,Fisheries officer,"[history, countryside, cinema, literature, music]","{'lat': 40.36846436096489, 'lon': 18.171263566...",11
23,female,Karen Adams,1984-08-10,True,"[english, italian, bulgarian]",20,middle-school,Television camera operator,[tracking],"{'lat': 40.364408581391295, 'lon': 18.16428124...",9
24,female,Rebecca Cohen,1987-10-18,True,"[dutch, italian, bulgarian]",28,high-school,Financial controller,[],"{'lat': 40.32998981194129, 'lon': 18.175342312...",18
25,female,Anna Shannon,1985-07-12,True,[bulgarian],31,phd,"Development worker, international aid",[literature],"{'lat': 40.36710284805045, 'lon': 18.179956956...",14
26,male,Michael Schneider,1990-04-16,True,[dutch],30,phd,Probation officer,"[tracking, beer, museums]","{'lat': 40.37981446263931, 'lon': 18.178854600...",12
27,female,Kelly Garrett,1980-05-02,True,[italian],30,phd,Chartered certified accountant,"[countryside, beer]","{'lat': 40.3457074414046, 'lon': 18.1747654675...",23
28,female,Lisa Woodard,1962-01-03,True,[spanish],25,middle-school,"Accountant, chartered management","[food, rafting, museums, music, art, tracking]","{'lat': 40.35079556972286, 'lon': 18.181927024...",19
29,female,Melissa Hart,1992-06-23,True,"[bulgarian, chinese]",28,master,"Geneticist, molecular","[archeology, literature, tracking]","{'lat': 40.35465462623879, 'lon': 18.172666005...",9
30,female,Ashley Johnson,1999-01-23,True,"[french, deutsche, english]",27,bachelor,Secondary school teacher,[music],"{'lat': 40.361047668976795, 'lon': 18.18633484...",7
31,male,Eric Smith,1975-09-04,True,"[deutsche, french, english]",23,master,Broadcast presenter,"[music, countryside, food]","{'lat': 40.339171732936364, 'lon': 18.16792590...",3
32,female,Angela Morgan,1960-04-05,True,"[french, bulgarian]",28,phd,Water quality scientist,"[archeology, music]","{'lat': 40.343414579847, 'lon': 18.18565562805...",20
33,male,Matthew Barker,1987-04-29,True,[french],26,middle-school,Public house manager,"[beer, music, countryside, archeology]","{'lat': 40.34424559835338, 'lon': 18.174907197...",7
34,female,Brittany Martin,1983-10-24,True,"[chinese, spanish, bulgarian, italian]",28,middle-school,Community pharmacist,[],"{'lat': 40.38198340911851, 'lon': 18.173378831...",20
35,male,Mark Hammond,1969-02-02,True,"[italian, french]",30,master,Transport planner,[music],"{'lat': 40.36699713437984, 'lon': 18.165786470...",3
36,male,Robert Harrington,1962-12-11,True,[spanish],26,phd,Software engineer,[],"{'lat': 40.358649720289904, 'lon': 18.16378056...",9
37,male,Gabriel Jacobson,1969-04-22,True,[dutch],26,master,Product designer,[],"{'lat': 40.3604075695112, 'lon': 18.1615738690...",2
38,female,Joann Sweeney,1998-11-24,True,[italian],28,master,Child psychotherapist,[],"{'lat': 40.36497247240833, 'lon': 18.173581152...",1
39,female,Nancy Clark,1968-12-21,True,"[spanish, dutch]",26,middle-school,"Producer, television/film/video",[history],"{'lat': 40.35901486939172, 'lon': 18.166553513...",4

In [13]:
guide_df.dtypes

gender              object
name                object
birth_date          object
now_available         bool
languages_spoken    object
price                int64
education           object
biography           object
keywords            object
current_location    object
experience           int64
dtype: object

In [14]:
tourist_df = pd.DataFrame(tourists)
tourist_df

       languages                   keywords
0    [bulgarian]                   [cinema]
1     [deutsche]                         []
2      [spanish]         [rafting, museums]
3     [deutsche]    [cinema, history, food]
4      [chinese]            [wine, rafting]
..           ...                        ...
195     [french]                   [cinema]
196      [dutch]  [food, tracking, history]
197      [dutch]    [museums, art, history]
198    [italian]      [rafting, literature]
199    [spanish]  [countryside, archeology]

[200 rows x 2 columns]

In [15]:
rating_df = pd.DataFrame(ratings)

In [16]:
rating_df

       0   1    2
0      0  32  5.0
1      0  10  4.0
2      1  20  5.0
3      1  15  4.0
4      2  34  4.0
..   ...  ..  ...
300  195  14  4.0
301  196  18  3.0
302  197   5  4.0
303  198  18  4.0
304  199  34  4.0

[305 rows x 3 columns]

In [17]:
tourist_df.to_csv("Data/tourists_{:d}.csv".format(n_tourists), index=True, sep=';')
guide_df.to_csv("Data/guides_{:d}.csv".format(n_guides), index=True, sep=';')
rating_df.to_csv('Data/ratings_{:d}_{:d}.csv'.format(n_tourists,n_guides), index=False, sep=';')