## Fake data generation

In [1]:
from faker import Faker
import numpy as np
import pandas as pd
import random

In [2]:
faker = Faker(seed=666)
np.random.seed(666)

In [3]:
keywords = [
    'archeology',
    'museums',
    'music',
    'art',
    'cinema',
    'countryside',
    'tracking',
    'rafting',
    'history',
    'literature',
    'sport',
    'food',
    'wine',
    'beer'
]

In [4]:
# guide profile generation
def generate_guide():
    guide = {}
    guide['gender'] = np.random.choice(['male', 'female'], size=1).item()
    guide['name'] = (faker.first_name_male() if guide['gender'] == 'male' else faker.first_name_female()) + ' ' + faker.last_name()
    guide['birth_date'] = faker.date_of_birth(maximum_age=65, minimum_age=20)
    guide['now_available'] = True
    guide['languages_spoken'] = list(np.random.choice(['english', 'italian', 'french', 'spanish', 'deutsche', 'dutch', 'bulgarian', 'chinese'], size=1+np.random.poisson(lam=1, size=1).item(), replace=False))
    guide['price'] = int(max(10, np.abs(np.random.normal(30, 5))))
    guide['education'] = np.random.choice(['middle-school', 'high-school', 'bachelor', 'master', 'phd'], size=1).item()
    guide['biography'] = faker.profile()['job']
    guide['keywords'] = list(np.random.choice(keywords, size=np.random.poisson(2, size=1).item(), replace=False))
    guide['current_location'] = {
        "lat": np.random.normal(40.3524, 0.01),
        "lon": np.random.normal(18.1732, 0.01)
    }
    guide['experience'] = random.randint(1,2024-guide['birth_date'].year-18)
    
    return guide

In [5]:
# user profile generation
def generate_tourist():

    tourist = {}

    tourist['languages'] = list(np.random.choice(['english', 'italian', 'french', 'spanish', 'deutsche', 'dutch', 'bulgarian', 'chinese'], size=1, replace=False))

    tourist['keywords'] = list(np.random.choice(keywords, size=np.random.poisson(2, size=1).item(), replace=False))
    
    return tourist

In [6]:
import random 

# rating generation
def generate_rating (tourists, guides):
    ratings = []
    for i in range(len(tourists)):
        
        # random choose guides from intersection of languages
        intersect_guides = [index for index in range(len(guides)) if np.all(np.in1d(tourists[i]['languages'], guides[index]['languages_spoken']))]
        other_guides = [index for index in range(len(guides)) if index not in intersect_guides]
        
        # random choose 3 guides without duplicates
        random_guides = np.random.choice(intersect_guides,2, replace=False)
        random_guide = np.random.choice(other_guides,1)
        
        # random choose 1 or 2 guides to rate
        for j in range(np.random.randint(1,3)):

            rating = round(np.random.normal(loc=4, scale=0.5, size=1).item(),0)
            ratings.append((i,random_guides[j],rating))

        # random choose if rate badly
#        if(np.random.binomial(1, 0.2)):
            bad_rating = round(np.random.normal(loc=1.5, scale=0.3, size=1).item(),0)
            # rate the last guide with bad rating
            ratings.append((i,random_guide[0],bad_rating))
    
    return ratings

#### Data generation

In [7]:
n_tourists = 200
n_guides = 40

In [8]:
guides = [generate_guide() for _ in range(n_guides)]
tourists = [generate_tourist() for _ in range(n_tourists)]

In [9]:
ratings = generate_rating(tourists,guides)

Dataframes

In [10]:
guide_df = pd.DataFrame(guides)
guide_df

,gender,name,birth_date,now_available,languages_spoken,price,education,biography,keywords,current_location,experience
0,male,Ronald Oneill,1961-02-13,True,[english],25,high-school,Set designer,[museums],"{'lat': 40.342693584880706, 'lon': 18.16438078...",9
1,female,Anna Weaver,1964-03-25,True,"[italian, dutch]",36,middle-school,Quality manager,"[cinema, rafting, history, wine]","{'lat': 40.3367551413547, 'lon': 18.1569120995...",28
2,female,Evelyn Pacheco,1981-10-22,True,"[chinese, french, english]",34,phd,"Production designer, theatre/television/film","[food, archeology, art]","{'lat': 40.362447049660204, 'lon': 18.14225129...",24
3,male,Paul Richards,1982-07-23,True,[bulgarian],46,bachelor,Records manager,"[countryside, rafting, art]","{'lat': 40.36584086550253, 'lon': 18.183002910...",9
4,male,Jason Gomez,1999-10-14,True,"[deutsche, french]",30,master,"Exhibitions officer, museum/gallery","[countryside, tracking, beer]","{'lat': 40.354724889812935, 'lon': 18.20308322...",7
5,male,Timothy Smith,1959-08-06,True,"[deutsche, dutch, bulgarian]",27,middle-school,Financial manager,[],"{'lat': 40.35854623058413, 'lon': 18.183459879...",2
6,male,Joseph Moore,1997-01-02,True,"[english, chinese, french]",34,middle-school,English as a foreign language teacher,"[rafting, art, sport]","{'lat': 40.35774331848761, 'lon': 18.163273185...",6
7,male,Curtis Snow,1980-11-27,True,"[spanish, dutch, french, italian]",33,bachelor,Educational psychologist,"[museums, art, countryside, wine]","{'lat': 40.365193043282794, 'lon': 18.18548169...",10
8,male,Christopher Simon,1981-01-08,True,"[bulgarian, english, chinese]",31,middle-school,"Therapist, occupational","[literature, cinema, music]","{'lat': 40.35265552781134, 'lon': 18.151723396...",1
9,male,James Dean,1992-04-11,True,"[chinese, bulgarian, dutch, english]",37,phd,Barrister,[museums],"{'lat': 40.33774657696426, 'lon': 18.182064664...",13
10,female,Lindsay Greene,1977-11-01,True,"[bulgarian, deutsche]",23,high-school,Mental health nurse,"[cinema, rafting, sport, museums, countryside]","{'lat': 40.36612881009787, 'lon': 18.182042843...",28
11,female,Barbara Maynard,1997-09-23,True,[bulgarian],23,phd,Claims inspector/assessor,"[cinema, beer, rafting]","{'lat': 40.367394960036485, 'lon': 18.17553586...",8
12,female,Michelle Bowen,2000-06-08,True,"[dutch, french, italian]",19,bachelor,Special educational needs teacher,"[sport, music, beer]","{'lat': 40.34268462008425, 'lon': 18.187542175...",6
13,female,Maria Crawford,2001-10-13,True,"[chinese, english]",27,master,"Editor, film/video","[sport, archeology, beer]","{'lat': 40.35377358678542, 'lon': 18.174728239...",5
14,male,Brandon Watts,1958-08-12,True,"[chinese, french]",40,middle-school,Agricultural consultant,[museums],"{'lat': 40.353069674191346, 'lon': 18.17755576...",13
15,male,Philip Jackson,1994-02-21,True,"[deutsche, chinese]",31,middle-school,Exercise physiologist,"[music, food, tracking, archeology]","{'lat': 40.35272705494921, 'lon': 18.165705019...",6
16,male,David Bender,1998-10-14,True,"[spanish, bulgarian, french]",32,middle-school,Housing manager/officer,"[countryside, music, beer]","{'lat': 40.32347428820915, 'lon': 18.164571467...",4
17,male,Calvin Gray,1984-11-21,True,[dutch],26,master,"Engineer, building services","[wine, sport, art]","{'lat': 40.36624424923941, 'lon': 18.174443383...",9
18,male,David Turner,1965-02-21,True,"[italian, dutch]",24,bachelor,Logistics and distribution manager,[food],"{'lat': 40.362871505646005, 'lon': 18.18292777...",29
19,female,Amy Jensen,1969-05-30,True,"[bulgarian, deutsche, english]",35,middle-school,"Librarian, public",[],"{'lat': 40.339915788807765, 'lon': 18.18379781...",7
20,female,Katherine Sanchez,1960-01-30,True,"[deutsche, french]",43,master,"Engineer, civil (consulting)","[rafting, museums, food]","{'lat': 40.357612936236265, 'lon': 18.16907898...",33
21,male,James Kelly,1998-03-10,True,[chinese],26,high-school,Chief Executive Officer,[cinema],"{'lat': 40.342846292499104, 'lon': 18.16089760...",4
22,female,Paige Martin,1963-03-24,True,"[chinese, spanish]",25,high-school,Child psychotherapist,"[history, countryside, cinema, literature, music]","{'lat': 40.36846436096489, 'lon': 18.171263566...",14
23,female,Ashley Nguyen,2002-02-03,True,"[english, italian, bulgarian]",20,middle-school,Armed forces logistics/support/administrative ...,[tracking],"{'lat': 40.364408581391295, 'lon': 18.16428124...",2
24,female,Madison Oneal,1998-09-20,True,"[dutch, italian, bulgarian]",28,high-school,Animator,[],"{'lat': 40.32998981194129, 'lon': 18.175342312...",7
25,female,Amy Burnett,1969-10-30,True,[bulgarian],31,phd,Management consultant,[literature],"{'lat': 40.36710284805045, 'lon': 18.179956956...",17
26,male,Arthur Lopez,1973-02-23,True,[dutch],30,phd,Tourism officer,"[tracking, beer, museums]","{'lat': 40.37981446263931, 'lon': 18.178854600...",27
27,female,Catherine Coleman,1960-06-13,True,[italian],30,phd,Photographer,"[countryside, beer]","{'lat': 40.3457074414046, 'lon': 18.1747654675...",37
28,female,Beverly Thompson,1995-04-24,True,[spanish],25,middle-school,Dance movement psychotherapist,"[food, rafting, museums, music, art, tracking]","{'lat': 40.35079556972286, 'lon': 18.181927024...",11
29,female,Valerie Ferrell,1970-06-06,True,"[bulgarian, chinese]",28,master,Dramatherapist,"[archeology, literature, tracking]","{'lat': 40.35465462623879, 'lon': 18.172666005...",15
30,female,Shannon Mueller,1992-12-04,True,"[french, deutsche, english]",27,bachelor,"Designer, interior/spatial",[music],"{'lat': 40.361047668976795, 'lon': 18.18633484...",7
31,male,Nicholas Stone,1975-12-05,True,"[deutsche, french, english]",23,master,Engineering geologist,"[music, countryside, food]","{'lat': 40.339171732936364, 'lon': 18.16792590...",26
32,female,Crystal Myers,2000-07-25,True,"[french, bulgarian]",28,phd,Industrial/product designer,"[archeology, music]","{'lat': 40.343414579847, 'lon': 18.18565562805...",1
33,male,Rodney Shaw,1980-09-13,True,[french],26,middle-school,Chiropractor,"[beer, music, countryside, archeology]","{'lat': 40.34424559835338, 'lon': 18.174907197...",6
34,female,Michelle Parker,1975-06-28,True,"[chinese, spanish, bulgarian, italian]",28,middle-school,"Physicist, medical",[],"{'lat': 40.38198340911851, 'lon': 18.173378831...",7
35,male,Jeffrey Wallace,1961-11-21,True,"[italian, french]",30,master,Agricultural consultant,[music],"{'lat': 40.36699713437984, 'lon': 18.165786470...",43
36,male,Patrick Sims,1971-06-22,True,[spanish],26,phd,"Loss adjuster, chartered",[],"{'lat': 40.358649720289904, 'lon': 18.16378056...",32
37,male,Stephen Haynes,1965-07-25,True,[dutch],26,master,Lawyer,[],"{'lat': 40.3604075695112, 'lon': 18.1615738690...",25
38,female,Selena Hall,2003-10-23,True,[italian],28,master,"Scientist, research (physical sciences)",[],"{'lat': 40.36497247240833, 'lon': 18.173581152...",1
39,female,Virginia Hill,1980-01-13,True,"[spanish, dutch]",26,middle-school,"Education officer, community",[history],"{'lat': 40.35901486939172, 'lon': 18.166553513...",24

In [11]:
tourist_df = pd.DataFrame(tourists)
tourist_df

       languages                   keywords
0    [bulgarian]                   [cinema]
1     [deutsche]                         []
2      [spanish]         [rafting, museums]
3     [deutsche]    [cinema, history, food]
4      [chinese]            [wine, rafting]
..           ...                        ...
195     [french]                   [cinema]
196      [dutch]  [food, tracking, history]
197      [dutch]    [museums, art, history]
198    [italian]      [rafting, literature]
199    [spanish]  [countryside, archeology]

[200 rows x 2 columns]

In [12]:
rating_df = pd.DataFrame(ratings)

In [13]:
rating_df

       0   1    2
0      0  32  5.0
1      0  33  2.0
2      0  10  4.0
3      0  33  2.0
4      1  31  4.0
..   ...  ..  ...
583  198  16  2.0
584  199  36  4.0
585  199  26  1.0
586  199   7  5.0
587  199  26  2.0

[588 rows x 3 columns]

In [14]:
tourist_df.to_csv("Data/tourists_{:d}.csv".format(n_tourists), index=True, sep=';')
guide_df.to_csv("Data/guides_{:d}.csv".format(n_guides), index=True, sep=';')
rating_df.to_csv('Data/ratings_{:d}_{:d}.csv'.format(n_tourists,n_guides), index=False, sep=';')