In [1]:
keywords = [
    'archeology',
    'museums',
    'music',
    'art',
    'cinema',
    'countryside',
    'tracking',
    'rafting',
    'history',
    'literature',
    'sport',
    'food',
    'wine',
    'beer'
]

In [2]:
def generate_guide():
    guide = {}
    guide['gender'] = np.random.choice(['male', 'female'], size=1).item()
    guide['name'] = (faker.first_name_male() if guide['gender'] == 'male' else faker.first_name_female()) + ' ' + faker.last_name()
    guide['birth_date'] = faker.date_of_birth()
    guide['now_available'] = bool(np.random.binomial(1, 0.3))
    guide['languages_spoken'] = list(np.random.choice(['english', 'italian', 'french', 'spanish', 'deutsche', 'dutch', 'bulgarian', 'chinese'], size=1+np.random.poisson(lam=1, size=1).item(), replace=False))
    guide['price'] = int(max(10, np.abs(np.random.normal(30, 5))))
    guide['education'] = np.random.choice(['elementary', 'high-school', 'bachelor', 'master', 'phd'], size=1).item()
    guide['biography'] = faker.profile()['job']
    guide['keywords'] = list(np.random.choice(keywords, size=np.random.poisson(2, size=1).item()))
    guide['current_location'] = {
        "lat": np.random.normal(40.3524, 0.01),
        "lon": np.random.normal(18.1732, 0.01)
    }
    guide['experience'] = random.randint(1,10)
    
    return guide

In [ ]:
# soft constraints used for computing the score and ranking
list_soft_constraints = ['Rating','Experience','Cost','Distance']

def generate_user():

    user = {}

    user['languages'] = random.sample(list_languages,random.randint(0,2))
    user['keywords'] = list(np.random.choice(keywords, size=np.random.poisson(2, size=1).item()))
    
    return user

In [81]:
# users 100
# tourists 20

In [368]:
import random 

def generate_rating (tourists, guides):
    ratings = []
    for i in range(tourists):

        # random choose 1 or 2 guides to rate
        for j in range(np.random.randint(1,3)):

            #random choose 3 guides
            random_guides = random.sample(range(guides),3)
            rating = round(np.random.normal(loc=4, scale=0.5, size=1)[0],0)
            ratings.append((i,random_guides[j],rating))
        
        if(np.random.binomial(1, 0.2)):
            bad_rating = round(np.random.normal(loc=1.5, scale=0.3, size=1)[0],0)
            # rate the last guide with bad rating
            ratings.append((i,random_guides[len(random_guides)-1],bad_rating))
    
    return ratings

In [369]:
ratings = generate_rating(100,20)

In [371]:
import pandas as pd
pd.DataFrame(ratings)

      0   1    2
0     0   2  5.0
1     0   8  4.0
2     1   5  4.0
3     2  14  4.0
4     2  16  4.0
..   ..  ..  ...
159  98  13  4.0
160  98  14  4.0
161  98   8  1.0
162  99  12  4.0
163  99   2  2.0

[164 rows x 3 columns]